@use 'sass:color';

:root {
    // Theme Color
    $primary: #115740;

    --color-primary: #{$primary};
    --color-primary-dark: #{color.scale($primary, $lightness: -15%)};
    --color-primary-darker: #{color.scale($primary, $lightness: -30%)};
    --color-primary-alpha: #11574040;

    $font: 'Helvetica Neue', helvetica, arial, sans-serif;

    --font-body: #{$font};
    --font-header: #{$font};
}
