.content {
    color: var(--color-text);
    display: flex;
    align-items: center;
    width: 100%;

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
    }

    .links {
        display: flex;
        align-items: center;
        gap: var(--space);
    }
}

.menuButton {
    z-index: 100;
    position: absolute;
    right: var(--space-sm);
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-page);
    border-left: var(--border-soft);
    padding-block: var(--layout-space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space);
    align-items: center;
    transform: translateX(200px);
    transition: transform var(--transition-medium);

    &[data-active] {
        transform: translateX(0);
    }
}
