.hero {
    height: 600px;
    display: flex;
    align-items: center;
}

.callout {
    border-left: var(--color-primary) 8px solid;
    padding-inline: $lg;
    padding-block: $md;
    margin-bottom: 8rem;
}

figure {
    margin-bottom: 0 !important;
}
