.footer {
    --v-footer-height: 64px;
    --v-color: var(--color-text);

    @include responsive-width;

    min-height: var(--v-footer-height);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    padding-bottom: $sm;
    background-color: var(--color-surface-foregound);
    color: var(--v-color);
    font-size: $font-xs;
    margin-top: auto;

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        gap: $md;
        flex-direction: column;
        align-items: center;
        border-top: var(--border-light);
        padding-top: $md;
        margin-top: $md;
    }

    @include respond-max($screen-lg) {
        padding-left: max($sm, 5%);
        padding-right: max($sm, 5%);
    }

    h6 {
        color: var(--v-color);
        font-size: $font-sm;
        margin-bottom: $xxs;
        font-weight: $semi;
    }

    p {
        margin: 0;
    }

    a {
        color: var(--v-color);
        text-decoration: none;
    }
}
